{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Listing: {{ item.name }}</h1>
    <input type="button" value="Watchlist"><br>
    <img src="{{ item.image }}" alt="{{ item.name }}" width="600px">
    <p>{{ item.description }}</p>
    <h2>
        {% if bid.current_price %}
            ${{ bid.current_price }}
        {% else %}
            ${{ item.starting_bid }}
        {% endif %}
    </h2>
    <form action="{% url 'bid' item.id %}" method="post">
        {% csrf_token %}
        <label for="bid">{{ bid.times_bid }} bid(s) so far. Your bid is the current bid.</label><br>
        <input type="number" id="bid" placeholder="Bid" name="bid" step=".01"><br>
        {% if message %}
            {{ message }} <br>
        {% endif %}
        <input type="submit" value="Place Bid">
    </form>
    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ item.listed_by }}</li>
        <li>
            Category: 
            {% if item.category %}
                {{ item.category }}
            {% endif %}
            {% if not item.category %}
                No Category Listed
            {% endif %}
        </li>
    </ul>
    <h3>Comments</h3>
    <textarea name="comment" cols="30" rows="10" placeholder="Write a comment.."></textarea><br>
    <input type="submit" value="Add a comment">
{% endblock %}