{% extends "auctions/layout.html" %}

{% block body %}

    <div>
        {% if message %}
            {% if updated %}
                <div>
                    {{ message }}
                </div>
            {% else %}
                <div>
                    {{ message }}
                </div>
            {% endif %}
        {% endif %}
    </div>

    <h1>Listing: {{ item.name }}</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'watchlist' item.id %}">
            <input type="submit" value="Watchlist"><br>
        </form>
    {% endif %}
    <img src="{{ item.image }}" alt="{{ item.name }}" width="600px">
    <p>{{ item.description }}</p>
    <h2>${{ item.price.current_price }}</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'bid' item.id %}" method="post">
            {% csrf_token %}
            <label for="bid">{{ item.price.times_bid }} bid(s) so far. Your bid is the current bid.</label><br>
            <input type="number" id="bid" placeholder="Bid" name="bid" step=".01" min="0" max=""><br>
            <input type="submit" value="Place Bid">
        </form>
    {% endif %}
    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ item.listed_by }}</li>
        <li>
            Category: 
            {% if item.category %}
                {{ item.category }}
            {% endif %}
            {% if not item.category %}
                No Category Listed
            {% endif %}
        </li>
    </ul>
    <h3>Comments</h3>
    {% if user.is_authenticated %}
        <form action="{% url 'comment' item.id %}" method="post">
            {% csrf_token %}
            <textarea name="comment" cols="100" rows="5" placeholder="Write a comment.."></textarea><br>
            <input type="submit" value="Add a comment">
        </form>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <div>
            {{ comment.commented_by }} : {{ comment.comments }}
        </div>
    {% endfor %}
{% endblock %}